
.formulario-div {
    background-color: #ebebeb;
    min-height: 80vh;
    display: grid;
    place-items: center;
    padding: 30px;
}

.formulario-div form {
    width: 400px;
    min-height: 60vh;
    background: whitesmoke;
    border: 5px solid #fff159;
    padding: 3%;
    font-family: "Harabara Mais Demo", sans-serif;
    font-size: 2rem;
    box-shadow: 0 4px 4px rgb(0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;  
}

input[type=text], input[type=password], input[type=number], input[type=file], textarea, select {
    font-family: "Harabara Mais Demo", sans-serif;
    font-size: 2rem;
    margin: 0.5rem 0 0.5rem 0;
}

label {
    color: #002f6d;
}

.formulario-div h3 {
    text-align: center;
    color: #002f6d;
    border-bottom: 1px solid #002f6d;
}