.contenido {
	display: flex;
}

aside {
	width: 15%;
	display: flex;
	padding-left: 25px;
    padding-top: 50px;
    font-family: "Balsamiq Sans", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
}

.titulo {
    font-family: "Balsamiq Sans", sans-serif;
    padding-bottom: 25px;
}

.categoriaProducto {
    display: none;
}

.verproductos {
	width: 85%;
}

.verproducto {
    background: #f4f4e1;
    padding: 3% 5% 3% 5%;
}

.separador {
    background: #42929d;
    color: white;
    padding: 20px;
    font-family: "Patua One", serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1rem;
    margin-bottom: 30px;
    margin-top: 30px;
}

.contenedor {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    justify-content: space-around;
    row-gap: 30px;
}

.producto-tarjeta {
    background: #ece5ce;
    border: 5px solid white;
    padding: 10px;
    transition: box-shadow 0.5s;
}

.producto-tarjeta:hover {
    box-shadow: 0 5px 10px gray;
}

.producto-tarjeta .nombreProducto {
    font-family: "Patua One", serif;
    color: #eed130;
}

.producto-tarjeta .precioProducto {
    font-family: "Patua One", serif;
}

.producto-tarjeta .imagen {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.producto-tarjeta .descripcionProducto {
    font-family: "Balsamiq Sans", sans-serif;
    text-align: justify;
}

.producto-tarjeta .stock {
    font-family: "Balsamiq Sans", sans-serif;
    text-align: justify;
}

.producto-tarjeta .nombreProducto, .producto-tarjeta .precioProducto, .stock,
.producto-tarjeta .imagen, .producto-tarjeta .descripcionProducto {
    margin-bottom: 1rem;
}

.max {
    width: 100%;
}
